<!-- <section class="joinnow">
  <div class="login col-lg-4 m-auto shadow-lg">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">O melhor e-mail!</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputName1" class="form-label">Nome</label>
        <input type="name" class="form-control" id="exampleInputName1">
      </div>

      <button type="submit" class="btn btn-secondary col-lg-12">Enviar</button>
    </form>
  </div>
</section> -->

<section class="joinnow">
  <div class="login col-lg-8 m-auto shadow-lg">
    <form action="https://gmail.us20.list-manage.com/subscribe/post?u=62df5f03360525c4cda53bbf0&amp;id=eefc570ec1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
  <div class="mc-field-group m-2 form-group row">
    <label for="mce-EMAIL" class="col-sm-2 col-form-label">Email
  </label>
  <div class="col-sm-10">
    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
  </div>
  </div>
  <div class="mc-field-group m-2 form-group row">
    <label for="mce-FNAME" class="col-sm-2 col-form-label">Nome </label>
    <div class="col-sm-10">
    <input type="text" value="" name="FNAME" class="" id="mce-FNAME"  class="form-control">
    </div>
  </div>
  <div class="mc-field-group form-group row m-2">
    <label for="mce-LNAME" class="col-sm-2 col-form-label">Sobrenome </label>
    <div class="col-sm-10">
    <input type="text" value="" name="LNAME" class="" id="mce-LNAME"  class="form-control">
    </div>
  </div>
  <div class="mc-field-group size1of2 form-group row m-2">
    <label for="mce-BIRTHDAY-month" class="col-sm-2 col-form-label">Aniversário </label>
    <div class="datefield col-sm-10">
      <span class="subfield dayfield"><input class="birthday form-control-sm " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day" style="border:1px solid rgb(197, 195, 195)"></span>
      <span class="subfield monthfield"><input class="birthday form-control-sm" type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month" style="border:1px solid rgb(197, 195, 195)"></span>
    </div>
  </div>	<div id="mce-responses" class="clear foot">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_62df5f03360525c4cda53bbf0_eefc570ec1" tabindex="-1" value=""></div>
          <div class="optionalParent" class="mx-auto" style="width: 200px;">
              <div class="clear foot">
                  <input type="submit" value="Tô dentro!" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-secondary mt-2">

              </div>
          </div>
      </div>
  </form>
  </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</section>


