.joinnow
{
  background-color: #ffffff;
  padding: 70px 100px;
}

.login
{
  background-color: #e5dcf7;
  padding: 20px 30px;
}

@media screen and (max-width:600px) {
  .joinnow
{
  padding: 140px 30px;
}
}
