<section class="about container">
  <h1 class="text-center mb-5">Sobre mim</h1>
  <div class="follow text-center mt-5">
    <a href="https://www.linkedin.com/in/thalitaio/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    <a href="https://github.com/thalitaio" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a href="https://www.instagram.com/thalita.io/" target="_blank" rel="noopener noreferrer">Instagram</a>
    <a href="https://twitter.com/thalitaio" target="_blank" rel="noopener noreferrer">Twitter</a>
  </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css
    ">

    <div class="jumbotron mt-5">
      <div class="row w-100">
              <div class="col-md-4">
                  <div class="card border-secondary mx-sm-1 p-3">
                      <div class="card border-seconday shadow text-secondary p-3 my-card" ><span  aria-hidden="true">HTML5</span></div>
                      <div class="text-black text-center mt-5"><p>Comecei a fazer pequenas alterações no HTML da minha página do MySpace (rede social pré-facebook) ainda adolescente.</p></div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="card border-secondary mx-sm-1 p-3">
                  <div class="card border-seconday shadow text-secondary p-3 my-card" ><span  aria-hidden="true">CSS</span></div>
                  <div class="text-black text-center mt-5"><p>Amo trabalhar com CSS. Um maravilhoso aliado para deixar tudo mais interessante.</p></div>
                </div>

              </div>
              <div class="col-md-4">
                <div class="card border-secondary mx-sm-1 p-3">
                  <div class="card border-seconday shadow text-secondary p-3 my-card" ><span  aria-hidden="true">Java</span></div>
                  <div class="text-black text-center mt-5"><p>Quando comecei a programar, não achei que fosse gostar tanto de Java. O tempo passou e eu virei uma verdadeira javeira. Gosto de trabalhar com essa poderosa linguagem.</p></div>
                </div>

              </div>
              <div class="col-md-4 mt-5">
                <div class="card border-secondary mx-sm-1 p-3">
                  <div class="card border-seconday shadow text-secondary p-3 my-card" ><span  aria-hidden="true">JavaScript</span></div>
                  <div class="text-black text-center mt-5"><p>A primeira que aprendi e onde tudo começou.</p></div>
                </div>
              </div>
              <div class="col-md-4 mt-5">
                <div class="card border-secondary mx-sm-1 p-3">
                  <div class="card border-seconday shadow text-secondary p-3 my-card" ><span  aria-hidden="true">Cloud</span></div>
                  <div class="text-black text-center mt-5"><p>Sou uma grande entusiasta da WEB3. Então trabalhar com cloud (em especial GCP) é, para mim, o presente e o futuro.</p></div>
                </div>
              </div>
              <div class="col-md-4 mt-5">
                <div class="card border-secondary mx-sm-1 p-3">
                  <div class="card border-seconday shadow text-secondary p-3 my-card" ><span  aria-hidden="true">Angular</span></div>
                  <div class="text-black text-center mt-5"><p>Meu framework queridinho. Inclusive foi usado para desenvolver esse site.</p></div>
                </div>
              </div>
          </div>
    </div>

    <img class="img-fluid center col-4 mt-5 mb-5" src="../../assets/ilustracao-conhecimentos.png" alt="figura de menina com telescópio">

</section>

<section class="container" id="projetos">

  <h1 class="text-center mb-5">Projetos</h1>

  <div class="projetos mb-5">
      <div class="card-port m-4">
          <div class="card-port-img-wrapper">
              <img src="../../assets/background.jpg" alt="imagem de calculadora">
          </div>
          <div class="card-port-info">
              <h2>Esse Site</h2>
              <h3>Angular</h3>
              <p>O código fonte desse site ta on!</p>
              <a href="https://github.com/thalitaio/portfolio-2022" target="_blank"><button class="btn">Saiba Mais</button></a>
          </div>
      </div>
      <div class="card-port m-4">
          <div class="card-port-img-wrapper">
              <img src="../../assets/fire.jpg" >
          </div>
          <div class="card-port-info">
              <h2>Fogo Doom</h2>
              <h3>JavaScript</h3>
              <p>Apesar de nunca ter jogado Doom, sou apaixonada por pixel art. </p>
              <a href="https://github.com/thalitaio/fogo-doom" target="_blank"><button class="btn">Saiba Mais</button></a>
          </div>
      </div>
      <div class="card-port m-4">
          <div class="card-port-img-wrapper">
              <img src="../../assets/app-pega-dinheirinho.jpg" alt="imagem para o projeto pega dinheirinho">
          </div>
          <div class="card-port-info">
              <h2>Pega Dinheirinho</h2>
              <h3>JavaScript</h3>
              <p>O objetivo do jogo é claro: pegar os dinheirinhos voadores. O jogo possui 3 níveis.</p>
             <a href="https://github.com/thalitaio/pega-dinheirinho" target="_blank"> <button class="btn">Saiba Mais</button></a>
          </div>
      </div>
  </div>
</section>


