<section class="about container">
  <h1 class="text-center mb-5">Sobre mim</h1>
  <div class="follow text-center mt-5">
    <a href="https://www.linkedin.com/in/thalitaio/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    <a href="https://github.com/thalitaio" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a href="https://www.instagram.com/thalita.io/" target="_blank" rel="noopener noreferrer">Instagram</a>
    <a href="https://twitter.com/thalitaio" target="_blank" rel="noopener noreferrer">Twitter</a>
  </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css
    ">


    <div class="container bootstrap snippets bootdeys flexbox">
      <div class="row">
          <div class="col-md-4 col-sm-6 content-card">
              <div class="card-big-shadow">
                  <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                      <div class="content">
                          <h6 class="category"><i class="bi bi-file-post"></i></h6>
                          <h4 class="title">HTML5</h4>
                          <p class="description">Onde tudo começou. Comecei a alterar algumas coisas nas páginas quando eu era criança e me sentia mestre em computação por isso. Sempre recomendo ele como início da jornada em programação, por ser semântico e já apresentar resultados. </p>
                      </div>
                  </div> <!-- end card -->
              </div>
          </div>

          <div class="col-md-4 col-sm-6 content-card">
              <div class="card-big-shadow">
                  <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                      <div class="content">
                          <h6 class="category"><i class="bi bi-pencil"></i></h6>
                          <h4 class="title">CSS3</h4>
                          <p class="description">Alterava os estilos dos templates do MySpace (para quem é jovem e não sabe, era uma rede social) quando eu era adolescente. Fui desenvolvendo com o tempo passando e a curiosidade aumentando. </p>
                      </div>
                  </div> <!-- end card -->
              </div>
          </div>

          <div class="col-md-4 col-sm-6 content-card">
              <div class="card-big-shadow">
                  <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                      <div class="content">
                          <h6 class="category"><i class="bi bi-bookmark-heart-fill"></i></h6>
                          <h4 class="title">Java</h4>
                          <p class="description">No início, muita gente me dizia que Java era muito difícil. Logicamente quis aprender o difícil, mas achando que não ia gostar tanto. Acabei me tornando uma verdadeira Javeira, amo o poder dessa linguagem. </p>
                      </div>
                  </div> <!-- end card -->
              </div>
          </div>

          <div class="col-md-4 col-sm-6 content-card">
              <div class="card-big-shadow">
                  <div class="card card-just-text" data-background="color" data-color="brown" data-radius="none">
                      <div class="content">
                          <h6 class="category"><i class="bi bi-layout-text-window"></i></h6>
                          <h4 class="title">Javascript</h4>
                          <p class="description">Minha primeira linguagem de programação. Nos meus projetos pessoais, uso JS ou TS na maioria das vezes. </p>
                      </div>
                  </div> <!-- end card -->
              </div>
          </div>

          <div class="col-md-4 col-sm-6 content-card">
              <div class="card-big-shadow">
                  <div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
                      <div class="content">
                          <h6 class="category"><i class="bi bi-lightbulb"></i></h6>
                          <h4 class="title">Angular</h4>
                          <p class="description">Com Angular foi amor a primeira codada. Amo a facilidade do framework, organização do código e o suporte da comunidade. Inclusive, usei para construir esse site. </p>
                      </div>
                  </div> <!-- end card -->
              </div>
          </div>

          <div class="col-md-4 col-sm-6 content-card">
              <div class="card-big-shadow">
                  <div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
                      <div class="content">
                          <h6 class="category"><i class="bi bi-cloud"></i></h6>
                          <h4 class="title">Cloud</h4>
                          <p class="description">Gosto muito do conceito da Web3 e é claro que a nuvem não poderia ficar de fora. Comecei com GCP (Google Cloud Platform) mas continuo a mergulhar cada vez mais nesse universo. </p>
                      </div>
                  </div> <!-- end card -->
              </div>
          </div>
      </div>
      </div>

    <img class="img-fluid center col-4 mt-5 mb-5" src="../../assets/ilustracao-conhecimentos.png" alt="figura de menina com telescópio">

</section>

<!-- Sessão de projetos -->

<section class="container" id="projetos">
  <h1 class="text-center mb-5">Projetos</h1>
  <div class="projetos mb-5 container-fluid row w-100">
      <div class="card-port m-4 d-flex">
          <div class="card-port-img-wrapper">
              <img src="../../assets/background.jpg" alt="imagem de calculadora">
          </div>
          <div class="card-port-info">
              <h2>Esse Site</h2>
              <h3>Angular</h3>
              <p>O código fonte desse site ta on!</p>
              <a href="https://github.com/thalitaio/portfolio-2022" target="_blank"><button class="btn">Saiba Mais</button></a>
          </div>
      </div>
      <div class="card-port m-4 d-flex">
          <div class="card-port-img-wrapper">
              <img src="../../assets/fire.jpg" >
          </div>
          <div class="card-port-info">
              <h2>Fogo Doom</h2>
              <h3>JavaScript</h3>
              <p>Apesar de nunca ter jogado Doom, sou apaixonada por pixel art. </p>
              <a href="https://github.com/thalitaio/fogo-doom" target="_blank"><button class="btn">Saiba Mais</button></a>
          </div>
      </div>
      <div class="card-port m-4 d-flex">
          <div class="card-port-img-wrapper">
              <img src="../../assets/app-pega-dinheirinho.jpg" alt="imagem para o projeto pega dinheirinho">
          </div>
          <div class="card-port-info">
              <h2>Pega Dinheiro</h2>
              <h3>JavaScript</h3>
              <p>O objetivo do jogo é claro: pegar os dinheirinhos voadores. O jogo possui 3 níveis.</p>
             <a href="https://github.com/thalitaio/pega-dinheirinho" target="_blank"> <button class="btn">Saiba Mais</button></a>
          </div>
      </div>
  </div>
</section>


