<section class="about container">
  <h1 class="text-center mb-5">Sobre mim</h1>
  <p>Olá 🖖
  </p>

  <p>
    Sempre gostei de tecnologia, mas por muito tempo não acreditava que era algo para mim.
  </p>

  <p>
    Sou brasileira e comecei a estudar HTML, CSS e dar os primeiros passos em JavaScript enquanto morava em outro país. Mesmo não sendo na minha lingua nativa, ali já notei que era o meu caminho e que eu seria capaz de me desenvolver na área.
  </p>

  <p>
    Faço parte da comunidade LGBTQIAP+ e sou apaixonada por incentivar e inspirar mais membros da comunidade a aprender a programar. Ta na dúvida se consegue? Eu também já tive. Vamos juntes!
  </p>

  <div class="follow text-center mt-5">
    <a href="https://www.linkedin.com/in/thalitaio/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    <a href="https://github.com/thalitaio" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a href="https://www.instagram.com/thalita.io/" target="_blank" rel="noopener noreferrer">Instagram</a>
    <a href="https://twitter.com/thalitaio" target="_blank" rel="noopener noreferrer">Twitter</a>
  </div>
</section>
