
 <div class="text-center">
      <h1>Cursos e Livros</h1>
      <h6 class="m-5">Alguns cursos e livros sobre programação, selecionados por mim para quem deseja aprender a programar. <br> Lembre-se: em um ano, você vai desejar ter começado hoje.</h6>
  </div>


      <div class="cards row" *ngFor="let cs of course">
          <div class="card card-1">
            <h2 class="card__title">{{cs.name}}</h2>

            <p class="card__apply">
              <a class="card__link" href={{cs.href}} target="_blank">Assista Agora</a>
            </p>
          </div>
      </div>


