<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">🌈 Thalita.io</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">Sobre mim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="course">Aprenda Programação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="joinnow">Participe</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<footer class="text-center mt-4 bg-white">
  <p>&copy; desenvolvido por mim  &#10084; 2022. Todos os direitos reservados.</p>
</footer>
